@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


body {
	background-image: none;
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	/* text-align: center; */
	}

button {
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;

}

				/* TOP BG */
/* .promo-page .tob-bg{
	margin-left: 0;
	margin-right: 0;
} */
.tob-bg img{
	max-width: 100%;
	display: flex;
	background-position: center;
}
				/* NAVIGATION */
.list {
	max-width:100%;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	text-align: center;
	grid-gap: 1px;
}
.list .a-btn {
	background-color: #434343;
}
.list .a-btn:hover{
	background-color: #828282;
}
.list .a-btn button{
	height: 50px;
	background-color:transparent;
	border: none;
}
				/* SLIDER */

				/* SLIDER BAR */
.slider-bar {
	max-width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
}
.slider-bar a {
	width: 100%;
	background-color: #f0f0f0;
}
.slider-bar a:hover,
.slider-bar a button:hover{
	background-color: #fff;
	text-decoration: underline;
}
.slider-bar a button{
	height: 40px;
	background-color:transparent;
	border: none;
	color: #000;
	font-weight: bold;
}
				/* WEEKLY */
.weekly-tab {
	max-width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	text-align: center;

}
.weekly-tab a {
	width: 100%;
	background-color: #434343;
	/* border-right: 3px solid #fff; */
}
.weekly-tab a:hover{
	background-color: #828282;
}

.weekly-tab a button{
	height: 100px;
	background-color:transparent;
	border: none;
	font-size: 1.5em;
}

			/* items	 */
.weekly-items {
	text-transform: uppercase;
	line-height: .7;
	
}
.weekly-items .items {
	float: left;
	text-align: center;
}
.weekly-items .items .discount{
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
}
.weekly-items .items .discount span,h4 {
	font-size: .8em;
}
.weekly-items .items .discount h3,h4{
	margin: 0;
	padding: .3em;
}
.weekly-items .items p {
	font-size: .9em;
	margin-top: 2em;
}
.weekly-items .items p:last-child {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 1.3em;
	color: red;
}

				/* TERM & CONDITION */
.btn-terms {
	margin-top: 2em;
	width: 200px;
	padding: .54em;
	background: none;
	border: none;
	background-image: url(/terms-btn.png);
	text-align: left;
}
.panel {
	background-color: #2896a8;
	color: #fff;
	padding: 0;
}
.panel p {
	width: 60%;
	font-size: .8em;
	display: inline-block;
	padding: 1em 2em;
}
.panel a {
	padding: 0;
}
				/* MEDIA RESPONSIVE */

@media screen and (max-width: 800px) {
		body {
			width: 700px;
		}

		.panel p {
			width: 60%;
			font-size: .8em;
			display: inline-block;
			padding: 1em 1em;
		}

}

@media screen and (max-width: 400px) {
		body {
			width: 100%;
		}
		.list .a-btn button{
			height: 50px;
			font-size: .5em;
		}
		.btn-terms {
			width: 185px;
			padding: .54em;
			font-size: .7em;
		}
		.panel {
			text-align: center;
			padding: 0em;
		}
		.panel p {
			width: 80%;
			font-size: .6em;
			text-align: left;

		}
		.panel a img{
			width: 50%;
			padding: 0;

		}
		.weekly-items{
			
		
		}
		.weekly-items .items{
			
			clear: both;
			width: 100%;
		}
		.weekly-items .items .discount{
			left: 17%;
		}
		
}

